<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.okra.widget">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <dist:module dist:instant="true" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".activity.OkraWebActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.hover.ApiKey"
            android:value="df50ba77b445fa4b6dd2165686dbb9a8" />
    </application>
</manifest>
